<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="inner">
      <div class="row footer-row-inner">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="footer-logo footer-item">
            <a href="./" class="footer-logo-link">
              <img src="./assets/img/img-logo.png" alt="Scholars" />
            </a>
            <p class="footer-description">
              Scholars provides universal access to the world’s best education,
              partnering with top universities and organizations to offer
              courses online.
            </p>
            <p>© 2017 Scholars Inc. All rights reserved</p>
            <ul class="footer-app">
              <li>
                <a href="#!">
                  <img src="./assets/img/img-appstore.png" alt="App Store" />
                </a>
              </li>
              <li>
                <a href="#!">
                  <img
                    src="./assets/img/img-googleplaystore.png"
                    alt="Google Play"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-md-3 col-lg-2">
          <div class="footer-list footer-item">
            <h3>Scholars</h3>
            <ul>
              <li><a href="#!">About Us</a></li>
              <li><a href="#!">Leadership</a></li>
              <li><a href="#!">Careers</a></li>
              <li><a href="#!">FAQ</a></li>
              <li><a href="#!">Contact</a></li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-md-3 col-lg-2">
          <div class="footer-list footer-item">
            <h3>Product</h3>
            <ul>
              <li><a href="#!">Education Light</a></li>
              <li><a href="#!">Education Starter</a></li>
              <li><a href="#!">Education Premium</a></li>
              <li><a href="#!">Business</a></li>
              <li><a href="#!">Business Plus</a></li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-2">
          <div class="footer-list footer-item">
            <h3>Support</h3>
            <ul>
              <li><a href="#!">Support</a></li>
              <li><a href="#!">Toll Free Number</a></li>
              <li><a href="#!">Open Ticket</a></li>
              <li><a href="#!">System Requirements</a></li>
              <li><a href="#!">Feedback</a></li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="footer-subscribe footer-item">
            <h3>Subscribe Us</h3>
            <p>Subscribe us to get all the latest news from us</p>
            <form action="">
              <input type="text" placeholder="Your Email" />
              <button>
                <span>SEND</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of footer -->

<!-- Scroll top -->
<a href="#" class="btn-scroll-top">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</a>
<!-- End of scroll top -->
