<!-- Header -->
<div class="header">
  <div class="container">
    <div class="inner">
      <!-- Logo -->
      <div class="header__logo">
        <a href="./">
          <img src="./assets/img/img-logo.png" alt="Scholars" />
        </a>
        <label for="navbar-toggle">
          <div class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
        </label>
      </div>

      <div class="header-right">
        <input type="checkbox" id="navbar-toggle" hidden />
        <!-- navbar -->
        <ul class="navbar">
          <li>
            <div class="item-link">
              <a href="./"> Home </a>
              <label for="toggle-sub-menu1" class="icon-show-more">
                <span>
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
              </label>
            </div>
            <input type="checkbox" id="toggle-sub-menu1" hidden />
            <ul class="sub-menu">
              <li><a href="#!">Home version one</a></li>
              <li><a href="#!">Home version Two</a></li>
              <li><a href="#!">Home video background</a></li>
            </ul>
          </li>
          <li>
            <div class="item-link">
              <a href="./course"> COURSES </a>
              <label for="toggle-sub-menu2" class="icon-show-more">
                <span>
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
              </label>
            </div>

            <input type="checkbox" id="toggle-sub-menu2" hidden />
            <ul class="sub-menu">
              <li><a href="./course">Course 2 Column</a></li>
              <li><a href="./course">Course 3 Column</a></li>
              <li><a href="./course">Course Details</a></li>
            </ul>
          </li>
          <li>
            <div class="item-link">
              <a href="#!"> EVENTS </a>
              <label for="toggle-sub-menu3" class="icon-show-more">
                <span>
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
              </label>
            </div>

            <input type="checkbox" id="toggle-sub-menu3" hidden />
            <ul class="sub-menu">
              <li><a href="#!">Event List</a></li>
              <li><a href="#!">Event Grid</a></li>
              <li><a href="#!">Event Single</a></li>
            </ul>
          </li>
          <li>
            <div class="item-link">
              <a href="#!"> Pages </a>
              <label for="toggle-sub-menu4" class="icon-show-more">
                <span>
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
              </label>
            </div>
            <input type="checkbox" id="toggle-sub-menu4" hidden />

            <ul class="sub-menu">
              <li><a href="#!">Our teachers</a></li>
              <li><a href="#!">teachers profile</a></li>
              <li><a href="#!">About Us</a></li>
              <li><a href="#!">Error page</a></li>
              <li><a href="#!">FAQ Page</a></li>
              <li><a href="#!">Login</a></li>
              <li><a href="#!">sign up</a></li>
            </ul>
          </li>
          <li>
            <div class="item-link">
              <a href="#!"> PORTFOLIO </a>
              <label for="toggle-sub-menu5" class="icon-show-more">
                <span>
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
              </label>
            </div>

            <input type="checkbox" id="toggle-sub-menu5" hidden />
            <ul class="sub-menu">
              <li><a href="#!">portfolio 2 column</a></li>
              <li><a href="#!">portfolio 3 column</a></li>
              <li><a href="#!">portfolio 4 column</a></li>
            </ul>
          </li>
          <li>
            <div class="item-link">
              <a href="#!"> BLOG </a>
              <label for="toggle-sub-menu6" class="icon-show-more">
                <span>
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
              </label>
            </div>

            <input type="checkbox" id="toggle-sub-menu6" hidden />
            <ul class="sub-menu">
              <li><a href="#!">Blog</a></li>
              <li><a href="#!">Blog details</a></li>
            </ul>
          </li>
          <li>
            <div class="item-link">
              <a href="./shop"> SHOP </a>
              <label for="toggle-sub-menu7" class="icon-show-more">
                <span>
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
              </label>
            </div>

            <input type="checkbox" id="toggle-sub-menu7" hidden />
            <ul class="sub-menu">
              <li><a href="./shop">Shop Page</a></li>
              <li><a href="#!">Shop Details</a></li>
            </ul>
          </li>

          <li>
            <div class="item-link">
              <a href="./contact"> Contact </a>
            </div>
          </li>
        </ul>

        <!-- User action -->
        <ul class="user-action">
          <li>
            <button>
              <label for="show-form-search">
                <i class="fa-solid fa-magnifying-glass"></i>
              </label>
            </button>
            <input type="checkbox" id="show-form-search" hidden />
            <form action="" class="form-search">
              <input type="text" placeholder="Search...." />
              <button>
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
          </li>
          <li>
            <button class="icon-cart">
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End of header -->
